.subHeader {
    position: sticky; 
    display: flex;
    justify-content: space-between; 
    align-items: baseline;
    top: 48px; 
    background-color: var(--bg-color);
    padding: var(--padding);
    padding-inline-end: 32px;
    font-family: 'Montserrat';
    font-size: 20px;
    width: 100%; 
    z-index: 1;
}

.taskGroup {
    position: relative;
display: flex;
gap: var(--padding);
}

.saveBtnGroup {
display: flex;
gap: 4px;
}

.subHeader .taskGroup Button,
.subHeader .saveBtnGroup Button{
padding: 6px 12px;
}

.subHeader .saveBtnGroup Button:first-child {
    background-color: #0078CF;
    border: none;
    color: var(--bg-color);
}

.subHeader.scrolled {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

@media (width <= 991px) {
    .subHeader {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        width: calc(92.5vw - 5px);
    }
}