.subHeader {
    display: flex;
    justify-content: space-between; 
    background-color: var(--bg-color);
    padding: var(--padding);
    font-family: 'Montserrat';
    font-size: 20px;
    width: 100%;
    z-index: 10;
}

.taskGroup {
    display: flex;
    gap: var(--padding);
}

.saveBtnGroup {
display: flex;
gap: 4px;
}

.subHeader .taskGroup Button,
.subHeader .saveBtnGroup Button{
padding: 6px 12px;
}

.subHeader .saveBtnGroup Button:first-child {
    background-color: #0078CF;
    border: none;
    color: var(--bg-color);
}

.subHeader.scrolled {
    position: sticky;
    top: 48px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

@media (width <= 768px) {
.saveBtnGroup {
display: none;
}
.taskGroup {
    justify-content: space-between;
    align-items: baseline;
}
.subHeader {
    display: block;
    font-size: 16px;
}}