
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sidebar {
display: none;
}

.logo {
    width: 174px;
    height: 100%;
}

.container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--padding);
}

.container form input {
    width: 296px;
}

.container form div {
    position: absolute;
    left: 273px;
    top: 53%;
    transform: translateY(-50%);
    z-index: 10;
}

@media (width <= 767px) {
    .logo, .container form input, .container form div {
        display: none;
    }
.sidebar{
    display: block;
}
    .header {
        justify-content: space-between;
       
    }
}