.app {
    width: calc(96vw - 15px);
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: var(--bg-color);
    z-index: 15;
    height: 48px;
    border-bottom: var(--border);
    padding: 8px 26px 8px 16px ;
}